html{
	overflow-x: hidden;
}

html, body{
	margin: 0;
	background-color: #222222;
	color: #ffffff;
	font-family: 'Nunito Sans', sans-serif;
}

a{
	text-decoration: none;
}

.banner-container{
	width: 100%;
	background: #17b890;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #17b890;
	z-index: 2em;
}

.portrait{
	width: 4em;
	height: 4em;
	border-radius: 20%;
	border-top-left-radius: 0;
	transition: 0.3s;
}

.banner-title{
	font-size: 1.5em;
	margin: auto;
}

.banner-padded{
	padding: 1em 1.5em;
	display: flex;
	flex-grow: 1;
	min-width: 300px;
}

.nav-container{
	flex-grow: 4;
	height: 6em;
	background: rgb(255, 255, 255);
	color: #17b890;
}

.nav-container ul{
	display: flex;
	list-style-type: none;
	font-size: 2em;
	font-weight: light;
	position: relative;
	top: -0.25em;
	justify-content: space-around;
}

.nav-item{
	border: 2px solid rgb(255, 255, 255);
	color: #17b890;
	transition: 0.3s;
}

.nav-item:hover{
	border-bottom-color: #17b890;
}

.content-container{
	z-index: 0;
	margin: auto;
	padding: 2em;
}

.content-card{
	margin: 3em 0;
	background-color: #dee5e5;
	color: #222222;
	padding: 2em;
}

.card-header{
	display: flex;
	font-size: 2.5em; 
	border-bottom: 3px solid #9dc5bb;
	color: #17b890;
}

.card-title{
	text-align: center;
	flex-grow: 10;
	margin-bottom: 0.25em;
	font-size: 1.2em;
}

.card-subtitle{
	font-size: 2.2em;
	margin: 0.5em auto;
}

.card-text{
	margin: 0 auto;
	text-align: center;
	font-family: 'Lora', serif;
	color: #222222; 
	font-size: 1.5em;
}

.display-item{
	display: flex;
	align-content: center;
	margin: 1em 0;
}

.display-item-column{
	padding: 0 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	margin: 0 auto;
}

.display-item-description{
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 1.35em;
}

.display-item-button{
	margin: 2em auto;
	padding: 1em;
	background-color: #17b890;
	color: white;
	border: 1px solid #17b890;
	transition: 0.3s;
	text-align: center;
}

.display-item-button:hover{
	background-color: white;
	color: #17b890;
}

.display-thumb img{
	max-width: 32em;
}

.card-content{
	margin: 1em;
}

.fa{
	margin: 0 0.3em;
}

.social-container{
	flex-grow: 4;
	color: #17b890;
}

.social-container ul{
	display: flex;
	list-style-type: none;
	font-size: 1.5em;
	font-weight: light;
	position: relative;
	justify-content: space-around;
}

.social-item{
	border: 1px solid #9dc5bb;
	border-radius: 50%;
	padding: 0.9em 1em;
	color: #17b890;
	transition: 0.3s;
	text-align: center;
	margin-top: 2em;
}

.social-item:hover{
	background: rgb(255, 255, 255);
}